

.e-btnEdit{

    width: 80px;
    height: 40px;

    margin-top: 20px;
}
.e-first{    
    height: auto;
    background-color: rgba(210, 222, 228, 0.1);
    border: none;
    border-bottom: 1px solid gray;
    color: white;
    text-align: left;
    padding: 20px;
}
.e-second{
    padding: 30px;
    background-color: rgba(210, 222, 228, 0.1);
    border: none;
    color: white !important;
}

.e-second > * {
    color:white !important;
}

.e-initial{
    font-size: 10vh ;
    font-weight: 300;
}

.e-user-dp{
    max-width: 150px;
    max-height: 150px;
    text-align: center;
    border-radius: 50%;
    background-color: #B6E388;    
}

.e-col1{
    text-align: center;
}

.e-button{
    display:flex;
    justify-content: flex-end;
    gap:10px;
}

#e-username{
   font-size: x-large;
  text-align: center;
}
.e-details{
    background: none !important;
    border: 0 !important;
    color: white !important;
    box-shadow: none !important;
    border-bottom: 1px solid white !important;
    width: 100% !important;
    margin-bottom: 10px;
 }
 .e-detail1{
    background: none !important;
    border: 0 !important;
    color: white !important;
    box-shadow: none !important;
    width: 100% !important;
    text-align: center;
 }

 .label{
    font-weight: 600;
}
.e-option {
    color: black;
}

.img-profile{
    border: 1px solid rgba(0, 0, 0, 0.473);
   
}
.e-avatar{
    margin-right: 13px !important;
}

@media(max-width:768px){
.img-profile{
    display: none;
}


@media(max-width: 768px) and (min-width: 426px){
    

    .e-second{
        padding: 10px 0px !important;
    }

    #e-userDetails > *, .e-details, #e-username, .e-user-content{
        color:black !important;
    }

    .e-details{
        border-bottom: grey solid 1px !important;
    }

}

@media(max-width: 425px){
    .e-second{
        padding: 10px 0px !important;
    }

    #e-userDetails > *, .e-details, #e-username, .e-user-content{
        color:black !important;
    }

    .e-details{
        border-bottom: grey solid 1px !important;
    }

}

}


